*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    h1{
        text-align: center;
        margin: 50px auto;
        font-family: sans-serif;
    }
    .kalkulator{
        width: 300px;
        background-color: #eaeaea;
        margin: 50px auto;
        padding: 7px;
        border-radius: 5px;
        #layar{
            width: 100%;
            padding: 15px 5px;
            font-size: 15px;
            outline: none;
            border: 1px solid #cecece;
            border-radius: 5px;
            text-align: right;
        }
        .container__kalkulator{
            display: flex;
            flex-wrap: wrap;
            .tombol{
                border-top: none;
                border-left: none;
                display: flex;
                justify-content: center;
                width: 25%;
                font-size: 20px;
                color: gray;
                font-weight: bold;
                line-height: 70px;
                align-items: center;
                border: 1px solid #cecece;
                cursor: pointer;
            }
            .tombol:hover{
                background-color: #e4e4e4;
            }
            .tombol#nol{
                flex-grow: 1;
            }
            .tombol.operator{
                background-color: #d8d8d8;
            }
            .tombol#hitung{
                color: #fff;
                background-color: #ffa64a;
            }
        }
    }
}